.home-body{
  display: flex;
  flex-direction: column;
}

.home-hero{
  display: flex;
  flex-direction: column;
  height: 400px;
  /* background-color: #292929;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='729' height='121.5' viewBox='0 0 600 100'%3E%3Cg stroke='%23212121' stroke-width='2' stroke-miterlimit='10' stroke-opacity='0.9'%3E%3Ccircle fill='%23037B79' cx='0' cy='0' r='50'/%3E%3Ccircle fill='%2392DEBA' cx='100' cy='0' r='50'/%3E%3Ccircle fill='%2334A51D' cx='200' cy='0' r='50'/%3E%3Ccircle fill='%23687D83' cx='300' cy='0' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='0' r='50'/%3E%3Ccircle fill='%23006EB4' cx='500' cy='0' r='50'/%3E%3Ccircle fill='%23037B79' cx='600' cy='0' r='50'/%3E%3Ccircle cx='-50' cy='50' r='50'/%3E%3Ccircle fill='%2353ac9a' cx='50' cy='50' r='50'/%3E%3Ccircle fill='%2359c377' cx='150' cy='50' r='50'/%3E%3Ccircle fill='%23292929' cx='250' cy='50' r='50'/%3E%3Ccircle fill='%236aa5bd' cx='350' cy='50' r='50'/%3E%3Ccircle fill='%233e9cda' cx='450' cy='50' r='50'/%3E%3Ccircle fill='%2300789c' cx='550' cy='50' r='50'/%3E%3Ccircle cx='650' cy='50' r='50'/%3E%3Ccircle fill='%23037B79' cx='0' cy='100' r='50'/%3E%3Ccircle fill='%2392DEBA' cx='100' cy='100' r='50'/%3E%3Ccircle fill='%2334A51D' cx='200' cy='100' r='50'/%3E%3Ccircle fill='%23687D83' cx='300' cy='100' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='100' r='50'/%3E%3Ccircle fill='%23006EB4' cx='500' cy='100' r='50'/%3E%3Ccircle fill='%23037B79' cx='600' cy='100' r='50'/%3E%3Ccircle cx='50' cy='150' r='50'/%3E%3Ccircle cx='150' cy='150' r='50'/%3E%3Ccircle cx='250' cy='150' r='50'/%3E%3Ccircle cx='350' cy='150' r='50'/%3E%3Ccircle cx='450' cy='150' r='50'/%3E%3Ccircle cx='550' cy='150' r='50'/%3E%3C/g%3E%3C/svg%3E"); */
background-color: #DD1657;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='791' height='131.8' viewBox='0 0 600 100'%3E%3Cg stroke='%23262626' stroke-width='1' stroke-miterlimit='10' %3E%3Ccircle fill='%2385B74D' cx='0' cy='0' r='50'/%3E%3Ccircle fill='%23006FCC' cx='100' cy='0' r='50'/%3E%3Ccircle fill='%23D5B00A' cx='200' cy='0' r='50'/%3E%3Ccircle fill='%233D494D' cx='300' cy='0' r='50'/%3E%3Ccircle fill='%230AEBE7' cx='400' cy='0' r='50'/%3E%3Ccircle fill='%237550C4' cx='500' cy='0' r='50'/%3E%3Ccircle fill='%2385B74D' cx='600' cy='0' r='50'/%3E%3Ccircle cx='-50' cy='50' r='50'/%3E%3Ccircle fill='%2300a3b0' cx='50' cy='50' r='50'/%3E%3Ccircle fill='%23f65589' cx='150' cy='50' r='50'/%3E%3Ccircle fill='%23DD1657' cx='250' cy='50' r='50'/%3E%3Ccircle fill='%233e96a0' cx='350' cy='50' r='50'/%3E%3Ccircle fill='%2300aafd' cx='450' cy='50' r='50'/%3E%3Ccircle fill='%23e25b48' cx='550' cy='50' r='50'/%3E%3Ccircle cx='650' cy='50' r='50'/%3E%3Ccircle fill='%2385B74D' cx='0' cy='100' r='50'/%3E%3Ccircle fill='%23006FCC' cx='100' cy='100' r='50'/%3E%3Ccircle fill='%23D5B00A' cx='200' cy='100' r='50'/%3E%3Ccircle fill='%233D494D' cx='300' cy='100' r='50'/%3E%3Ccircle fill='%230AEBE7' cx='400' cy='100' r='50'/%3E%3Ccircle fill='%237550C4' cx='500' cy='100' r='50'/%3E%3Ccircle fill='%2385B74D' cx='600' cy='100' r='50'/%3E%3Ccircle cx='50' cy='150' r='50'/%3E%3Ccircle cx='150' cy='150' r='50'/%3E%3Ccircle cx='250' cy='150' r='50'/%3E%3Ccircle cx='350' cy='150' r='50'/%3E%3Ccircle cx='450' cy='150' r='50'/%3E%3Ccircle cx='550' cy='150' r='50'/%3E%3C/g%3E%3C/svg%3E");
justify-content: center;
}

.home-hero div{
  text-align: center;
}

.home-hero div h1{
  font-size: 75px;
  font-family: 'Nunito', sans-serif;
  text-shadow: 5px 5px 3px black;
  margin: 0;
}

.home-hero div h3{
  margin-top: -1rem;
  margin-left: 12rem;
  font-family: 'Sriracha', cursive;
  text-shadow: 3px 3px 2px black;
}

.home-hero div{
  color: white;
}

.hero-img{
  width: 100%;
  height: 100%;
}

.home-options{
  margin: 0;
  font-size: 40px;
  padding: 2rem;
  letter-spacing: 6px;
  font-family: "Staatliches";
  background-color: #2e2e2e;
  color: white;
  border: 1px solid #777777;
  cursor: pointer;
  transition: 0.3s;
}

.home-options:hover{
  background-color: #1f1f1f;
  color: white;
  letter-spacing: 10px;
}